/* Écrasement du style navigateur */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1 {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

/* Polices de caractères */

* {
  font-family: "Roboto", sans-serif;
}

/* Variables de couleur */
/* Gaffe à la compatibilité avec les navigateurs ! cf. https://caniuse.com/?search=var() */

:root {
  --cyan-light: #0dcaf0;
  --cyan-medium: #3aa1cc;
  --blue: #0e6dfb;
  --gray-lighter: #f0f0f0;
  --gray-light: #e9e4e4;
  --gray-dark: #e0e0e0;
  --gray-darker: #747474;
  --white: #ffffff;
  --black: #000000;
  --blackish: #333333;
  --article-01: #ad7cbb;
  --article-02: #6ac3cf;
  --article-03: #d78987;
}

/* Classes pour gérer les différentes couleurs de la catégorie
dans les articles. */
/* ☠ WARNING! À effacer si Sami passe dans le coin. ☠ */

.first {
  color: var(--article-01);
}

.second {
  color: var(--article-02);
}

.third {
  color: var(--article-03);
}

/* Styles généraux */
/* Polices */

h1, h2, h3 {
  font-family: "Roboto Slab", serif;
  margin-top: 0;
}

h1 {
  /* Conforme à charte mais pas à maquette :( */
  /*   
  font-size: 2.25rem;
  */
  font-size: 3rem;
  /* font-weight marche pas ??? */
  font-weight: 700;
}

p {
  /* Conforme à charte mais pas à maquette :( */
  /*
  font-size: 1.5rem;
  */
  font-size: 1.2rem;
}

/* Éléments */

button {
  display: block;
  width: 10rem;
  height: 2.2rem;
  font: inherit;
  text-transform: uppercase;
  color: var(--white);
  background-color: var(--blue);
  border: none;
  border-radius: 4px;
}

/* Header */

header {
  height: 4rem;
  background-color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem;
}

img {
  height: 100%;
}

#top-nav ul {
  display: none;
  gap: 1rem;
}

#top-nav i {
  margin-right: 0.4rem;
}

#top-nav a {
  color: var(--blackish);
  text-transform: uppercase;
}

#burger-menu-btn {
  height: 2.6rem;
  width: 3.6rem;
  background-color: var(--white);
  border-radius: 4px;
  border: 1px solid var(--gray-light);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.line {
  display: block;
  height: 2px;
  width: 60%;
  background-color: var(--gray-darker);
}

/* Hero */

#hero {
  height: 30rem;
  /* Styles image de fond */
  background-color: var(--blue);
  background-image: url("../images/banner.jpg");
  background-size: 220%;
  background-repeat: no-repeat;
  background-position: 55% 100%;
}

#hero div {
  /* Propriétés flex */
  display: flex;
  flex-direction: column;
  padding: 3rem 0 0 0.6rem;
  gap: 0.6rem;
}

#hero h1, #hero p, #hero a { /* Comment fonctionne ce groupe de sélecteurs exactement ? */
  color: var(--white);
}

#hero a {
  background-color: var(--cyan-light);
  width: 9rem;
  border-radius: 3px;
  padding: 1rem;
  text-align: center;
}

/* À propos */

#about {
  background-color: var(--black);
  padding: 2rem 1rem;
}

#about h2, #about p {
  color: var(--white);
}

#about p {
  font-style: italic;
}

/* Catalogue robots */

#robots {
  background-color: var(--gray-light);
}

#robots h2 {
  color: var(--blackish);
  margin-bottom: 0;
}

#robots > div > p {
  color: var(--black);
  margin-top: 0.6rem;
}

#robots div {
  padding: 1rem;
  text-align: center;
}

/* Flex container pour les li articles robots */

#robots ul {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
}

/* Mise en page de la carte produit */

.product-card {
  width: 16rem;
  margin: 0 auto 3rem;
  background-color: var(--white);
  border: 1px solid var(--gray-dark);
  border-radius: 6px;
}

.product-card img {
  display: block;
  width: 80%;
  margin: 0 auto;
  position: relative;
  top: -1.4rem;
  border: 1px solid var(--gray-dark);
  border-radius: 6px;
  box-shadow: 0 1px 2px 1px var(--gray-dark);
}

.product-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.product-info p {
  font-size: 0.9rem;
  margin: 0 0 1rem 0;
}

.product-shop {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.product-shop p, .product-shop i {
  color: var(--gray-darker);
  padding: 0 1rem;
}

/* Abonnement newsletter */

#newsletter-subscribe {
  height: 16rem;
  padding-top: 3rem;
  /* Propriétés image de fond */
  background-image: url("../images/bg_contact.jpg");
  background-size: 250%;
  background-position: 50% 37%;
}

#newsletter-subscribe h2, #newsletter-subscribe p { /* Si je ne répète pas l'id, le sélecteur affecte tous les <p> ? */
  text-align: center;
  color: var(--white);
}

#newsletter-subscribe h2 {
  margin: 0;
}

#newsletter-subscribe p {
  margin-top: 0.6rem;
}

#newsletter-subscribe form {
  display: flex;
  flex-direction: column;
}

#newsletter-subscribe input {
  width: 80%;
  height: 1.8rem;
  margin: auto;
  padding-left: 0.4rem;
  border: none;
  border-radius: 4px;
  font: inherit;
}

#newsletter-subscribe button {  
  margin: 1rem auto 0;
}

/* Actualités */

#news h2, #news>div>p {
  color: var(--blackish);
  text-align: center;
}

#news h2 {
  margin-top: 1rem;
  margin-bottom: 0;
}

#news div>p { /* Ce sélecteur déconne. TODO: fix it! */
  margin-top: 0.4rem;
  margin-bottom: 2rem;
  font-size: 1.4rem;
}

#news ul {
  display: grid;
  margin: 0;
  gap: 1rem;
}

.news-item {
  width: 360px;
  margin: 0 auto;
}

.news-item h3 {
  font-size: 1.4rem;
  text-align: justify;
}

.news-item p:nth-of-type(2) {
  color: var(--gray-darker);
  font-size: 1rem;
  text-align: justify;
}

/* Contact info */

#contact-us {
  background-image: url("../images/bg_contact.jpg");
  padding: 4rem 0.4rem;
}

#contact-us h2 {
  margin-bottom: 0;
}

#contact-us p {
  margin-top: 0.6rem;
}

#contact-info, #social {
  color: var(--white);
}

#contact-info i {
  margin-right: .6rem;
}

#contact-info address {
  display: inline;
  font-style: normal;
}

#contact-info address p {  
  font-size: 0.9rem;
}

/* Sociaux */

#social {
  margin-bottom: 3rem;
}

#social a {
  color: var(--white);
}

#social i {
  font-size: 2rem;
  margin-top: 1rem;
}

#social ul {
  display: flex;
  justify-content: space-around;
}

/* Formulaire contact */

#contact-form legend {
  font-family: "Roboto Slab", serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  background-color: var(--cyan-medium);
  height: 3rem;
  margin: 0 auto 2rem;
  padding: 1rem 1rem 0.4rem 1rem;
  border-radius: 4px;
}

#contact-form fieldset {
  background-color: var(--white);
  border: none;
  border-radius: 4px;
  padding-bottom: 2rem;
}

#contact-form label {
  display: inline-block;
  margin-bottom: 2rem;
}

#contact-form label, #contact-form input {
  color: var(--blackish);
  width: 100%;
}

#contact-form input, #contact-form textarea {
  display: inline-block;
  font: inherit;
  border: none;
  border-bottom: 1px solid var(--blackish);
  margin-bottom: 2rem;
}

/* Footer */

footer {
  background-color: var(--blackish);
}

footer ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 0.4rem;
  padding: 2rem;
}

footer a {
  display: block;
  color: var(--white);
  text-transform: uppercase;
  margin-bottom: 0.8rem;
}

/* Media query tablette */

@media screen and (min-width: 768px) {
  /* Hero */
  #hero {
    background-size: 100%;
  }

  #hero div {
    width: 20rem;
  }

  /* Liste robots */
  #robots ul {
    flex-direction: row;
    justify-content: space-around;
  }

  #robots ul article {
    max-width: 15rem;
  }

  /* Newsletter */
  #newsletter-subscribe input {
    max-width: 30rem;
  }

  /* Actualités */
  #news ul {
    grid-template-columns: 1fr 1fr;
  }

  /* Sociaux */
  #social ul {
    max-width: 20rem;
  }

  /* Formulaire contact */
  #contact-form {
    max-width: 700px;
    margin: 0 auto;
  }
}

/* Media query bureau */

@media screen and (min-width: 1024px) {
  /* Header <- problème ici */
  #header {
    background-color: transparent; /* Ça pas marche :( */
  }

  #top-nav ul {
    width: 100%;
    display: inline-flex;
    flex-direction: row;
  }

  #burger-menu-btn {
    display: none;
  }

  /* Hero */
  #hero {
    background-size: cover;
    height: 60rem;
  }

  #hero div {
    padding-top: 10rem;
    padding-left: 10rem;
    width: 60rem;
  }

  /* À propos */
}