/* Écrasement du style navigateur */

body {
  margin: 0;
  box-sizing: border-box;
}

h1 {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

/* Polices de caractères */

* {
  font-family: "Roboto", sans-serif;
}

/* Variables de couleur */

:root {
  --cyan-light: #0dcaf0;
  --cyan-medium: #3aa1cc;
  --blue: #0e6dfb;
  --gray-light: #e9e4e4;
  --gray-dark: #747474;
  --white: #ffffff;
  --bg-gray: #f0f0f0;
  --bg-black: #000000;
  --article-01: #ad7cbb;
  --article-02: #6ac3cf;
  --article-03: #d78987;
}

/* Styles généraux */
/* Polices */

h1 {
  font-family: "Roboto Slab", sans-serif;
  /* Conforme à charte mais pas à maquette :( */
  /*   
  font-size: 2.25rem;
  */
  font-size: 3rem;
}

p {
  /* Conforme à charte mais pas à maquette :( */
  /*
  font-size: 1.5rem;
  */
  font-size: 1.2rem;
}

/* Header */

header {
  height: 4rem;
  background-color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.8rem;
}

img {
  height: 100%;
}

#top-nav {
  display: none;
}

#burger-menu-btn {
  height: 2.6rem;
  width: 3.6rem;
  background-color: var(--white);
  border-radius: 4px;
  border: 1px solid var(--gray-light);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.line {
  display: block;
  height: 2px;
  width: 60%;
  background-color: var(--gray-dark);
}

/* Hero */

#hero {
  height: 30rem;
  /* Styles image de fond */
  background-color: var(--blue);
  background-image: url("../images/banner.jpg");
  background-size: 220%;
  background-repeat: no-repeat;
  background-position: 55% 100%;
}

#hero div {
  /* Propriétés flex */
  display: flex;
  flex-direction: column;
  padding: 3rem 0 0 0.6rem;
  gap: 0.6rem;
}

#hero h1, p, a {
  color: var(--white);
}

#hero a {
  background-color: var(--cyan-light);
  width: 9rem;
  border-radius: 3px;
  padding: 1rem;
  text-align: center;
}

/* À propos */